@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
*{
    margin: 0;
    padding: 0;
}


.tt{
  
    transform: translateX(80%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    
}
.container{
    min-height: 72vh;
    background-color: black;
    box-shadow: 10px 10px 8px 10px #52b05a;
    color: rgb(233, 239, 148);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('shivbg.png') ;
}
.h1{
    align-items: center;
    transform: translateX(50%);
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(36, 28, 28);
    color: rgb(189, 239, 123);
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background:rgb(167, 125, 245);
    border:2px solid rgb(214, 247, 249);
    box-shadow: 2px 2px 2px rgb(156, 205, 236);
    color: rgb(236, 250, 236);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Trebuchet MS ', sans-serif;
}

.songInfo img{
    opacity: 10;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }